{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex flex-row" id="platosContainer">
    <h1>Nuevo Plato</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
       
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('platos_index') }}">Atrás</a>
        </li>
    </ul>
    </div>
{% endblock %}
