 <img src="Frontend/src/logo.png" alt="logo" />
 
 <h1>LISTADO DE ALMACEN</h1>


 <div class="input-group">
    <input type="text" class="form-control" placeholder="Buscar" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-secondary" type="button">Buscar</button>
      
    </div>
  </div>

  <br> <br> <br> <br>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">PRODUCTO</th>
        <th scope="col">CANTIDAD</th>
        <th scope="col">PROVEEDOR</th>
        <th scope="col">COMENTARIOS</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Plátano</td>
        <td>60</td>
        <td>Matutano</td>
        <td>buuuu...</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
