


<form>


<input class="form-control" type="text" placeholder="Nombre">
<input class="form-control" type="text" placeholder="Descripcion">
<input class="form-control" type="text" placeholder="Proveedor">

<div class="form-row align-items-center">
    <div class="col-auto my-1">
      
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Cantidad</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="toMuch">Demasiados</option>
      </select>
    </div>
   
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</form>
