{% extends 'base.html.twig' %}

{% block body %}
  




<div class="d-flex flex-row " id="restauranteContainer">
<li class="nav-item dropdown">
        <a class="nav-link  btn btn-primary js-scroll-trigger" href="{{path('restaurante')}}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sedes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for restaurante in restaurantes %}
        
          <a class="dropdown-item" href="{{path('contacto',{'sede':'Madrid'})}}">{{ restaurante.nombre}}<br>Ciudad:{{restaurante.localidad}}</a>
        

          {% endfor %}
          
        </div>
      </li>
      </div>

   
   
{% endblock %}