{% extends 'base.html.twig' %}

{% block body %}
  
<div class="d-flex flex-row " id="restauranteContainer">
   <ul class="list-group">
  {% for restaurante in restaurantes %}
        <li class="list-group-item">{{ restaurante.nombre }}</li>
        
    {% endfor %}
   </ul>
  
</div>


   
   
{% endblock %}